{
  extends: [
    'eslint:recommended',
  ],
  plugins: [
  'jest',
  ],
  globals: {
  },
  parserOptions: {
    ecmaVersion: 8,
    ecmaFeatures: {
      experimentalObjectRestSpread: true
    },
  },
  env: {
    node: true,
    es6: true,
    "jest/globals": true,
  },
  rules:{
    "no-console": 0,
    }
}
